.dockerignore
Dockerfile
db.sqlite3
__pycache__
*.pyc
*.pyo
*.pyd
.Python
env
pip-log.txt
pip-delete-this-directory.txt
.tox
.coverage
.coverage.*
.cache
coverage.xml
*,cover
*.log
.git
build
*.egg-info
venv
examples
bailian_nlp/datadrive
README.md
LICENSE
setup.py
.gitignore
*.bak
packages
!bailian_nlp/datadrive/models/ernie/pos.*
!bailian_nlp/datadrive/models/ernie/vocab.txt
docker
!/bailian_nlp/datadrive/dict/user_dict.txt
.DS_Store


# 暂时用不到静态页面
/bailian_nlp/web/resource/static/fonts/
/bailian_nlp/web/resource/static/css/
/bailian_nlp/web/resource/static/js/
/bailian_nlp/web/resource/static/images/
/bailian_nlp/web/resource/template/base.html
/bailian_nlp/web/resource/template/news/
/bailian_nlp/web/resource/template/wechat_profile.html
