boto3==1.9.137
botocore==1.12.137
chardet==3.0.4
cycler==0.10.0
demjson==2.2.4
docutils==0.14
idna==2.8
jmespath==0.9.4
kiwisolver==1.1.0
#matplotlib==3.0.3
numpy==1.16.3
pandas==0.24.2
pyparsing==2.4.0
python-dateutil==2.8.0
pytorch-pretrained-bert==0.6.2
pytz==2019.1
regex==2019.4.14
requests==2.21.0
s3transfer==0.2.0
six==1.12.0

torch
#https://download.pytorch.org/whl/cpu/torch-1.0.1.post2-cp36-cp36m-linux_x86_64.whl

torchvision
tornado==6.0.2
tqdm==4.31.1
urllib3==1.25.1
#gensim==3.7.1
#git+https://github.com/HIT-SCIR/ELMoForManyLangs
#tensorflow
sklearn_crfsuite